/* utility classes */

.dsp-none {
  display: none;
}

.dsp-block {
  display: block;
}

/* element selectors */

body {
  font-family: "DM Serif Display", serif;
}

/* classes */
/* navbar */

.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: min(60%, 300px);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}

.navbar a {
  padding-inline: 1rem;
}

.open {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.closed {
  transform: translateX(500px);
  -webkit-transform: translateX(500px);
  -moz-transform: translateX(500px);
  -ms-transform: translateX(500px);
  -o-transform: translateX(500px);
}

.overlay--open {
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
}

.overlay--closed {
  display: none;
}

@media (min-width: 730px) {
  .navbar {
    display: block;
    position: static;
    height: auto;
    width: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    z-index: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  .overlay {
    display: none;
  }

  .icon-dlt {
    display: none;
  }
}

/* hero section */

.hero-btn-bg {
  background-color: #77a7eed5;
}
