@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
